    </td></tr>
    </table>
    <div id="footer">
        <div id="footer-center">
        <div id="copyright">
            Copyright &copy; 2009
            <a href='mailto:webmaster@algorithmstudy.com'>Algorithm Study Project</a>,
            <a href="http://www.gnu.org/copyleft/fdl.html">Some Rights Reserved.</a>
        </div>
        <div id="reference">
            <a href="http://sourceforge.net/projects/algstudy">
                <img src="http://sflogo.sourceforge.net/sflogo.php?group_id=255014&type=8"
                    width="80" height="15" border="0"
                    alt="Get Algorithm Study at SourceForge.net. Fast, secure and Free Open Source software downloads" />
            </a>
        </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
