<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />

  <meta name="description" content="Algorihtm Study Project" />
  <meta name="keywords" content="Algorithm Study algstudy data structures" />
  <meta name="copyright" content="Copyleft 2008 Algorithm Study project." />
  <meta name="Author" content="Algorithm Study Developers" />

  <link rel="stylesheet" type="text/css" href="css/site.css" title="Styles" />

  <title>The Algoritm Study Project - <%=PageName %></title>
</head>
<body>
<div id="document">
<div id="document2">
    <div id="header">
        <h1>Algorithm Study</h1>
        <h3 id="slogan">Real Algorithms.  Real Code.</h3>
    </div>
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>

